:root {
    // --main-theme-color: #1c4267;
    --main-theme-color: #1c4267;
}

@import "auth-layout";

body {
    box-sizing: border-box;
    margin: 0 auto;
    // font-family: Kalimati, Georgia, serif;
    // font-family: "noto";
    background-color: #f2f7fb;
}

[v-cloak] {
    display: none;
}
.light-shadow {
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.12);
}

label.required::after {
    content: " *";
    color: red;
    // vertical-align: super;
  }

/* Resize MDB button */
.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    // font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    border-radius: 4px;
}

/* Date picker trigger button */

.npd-trigger-btn {
    background-color: #007bff;
    border: none;
    color: #fefefe;
}

/* Table actiono buttons */

.action-btn {
    border: 0;
    padding: 0;
    margin: 0 5px;
    background: transparent;
    color: inherit;
}

/* change color of button on hover */
.btn {
    text-transform: capitalize;
    &:hover {
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
        filter: brightness(95%);
    }
}

/*============
* Action Bar 
*=============*/

.action-wrapper {
    display: flex;
    width: 100%;
    padding: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 0.25rem;
    background-color: #f9fcff;
    margin-bottom: 15px;
}

.action-wrapper:hover {
    background-color: #f2f7fb;
}

.action-wrapper .icon-wrapper {
    align-self: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.action-wrapper .icon-wrapper .icon {
    align-self: center;
    font-size: 18px;
}

.action-wrapper .label {
    align-self: center;
    margin-left: 10px;
    padding: 10px 15px;
    color: var(--main-theme-color);
    font-size: 1.2rem;
    font-weight: 600;
}

/*============
* Breadcrumbs 
*=============*/
.breadcrumb {
    background-color: #fff;
    .breadcrumb-item {
        color: inherit;
    }
    .breadcrumb-item a {
        color: #2c353d;
        font-weight: 600;
        opacity: 1;
    }
    .breadcrumb-item.active {
        opacity: 0.85;
    }
}
// Chart Card
.box {
    background-color: #fff;
    border-radius: 5px;
    // border: 1px solid #d8dae0;
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 12%);
}
.box__header {
    padding: 10px 25px;
}
.box__title {
    font-size: 1.2rem;
    color: #2572bc;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
}
.box__body {
    padding: 15px 25px;
}

// Tables
.table th,
.table td {
    vertical-align: middle;
}

.project-register-no {
    padding: 0.5rem 1rem;
    border: 1px solid #1c4267;
    background: #f2f7fb;
    color: #1c4267;
    border-radius: 4px;
}
